/*
Colors used:
Background Color (white): #FFFFFF;
Primary Color (Navy): #1F3C65;
Secondary Color (Pink):#BE8190;
Text Color (Black): #000000;
*/
* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #000000
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

h1 {
    font-size: 2.5em;
    color: #1F3C65;
    margin: 20px auto;
}

h2 {
    font-size: 1.6em;
    color: #BE8190;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 15px auto;
    text-align: center;
}

h3 {
    font-size: 1.4em;
    color: #1F3C65;
    letter-spacing: 0.05%;
    font-weight: 500;
    padding-top: 10px;
    margin: 5px 0;
}

h4 {
    font-size: 1em;
    color: #1F3C65;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0 0 0 30px;
}

#lessons h4{
    margin-top: 20px;
    color: #BE8190;
}
#bullets ul {
    list-style: none;
    font-size: 12px;
}

#bullets ul li::before {
    content: "•";
    color: #BE8190;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

img {
    width: 100%;
}

a {
    color: #BE8190;
    text-decoration: none;
    /* No underlining */
}

a:hover,
a:focus {
    color: #EA2282;
    text-decoration: underline;
}

a:visited {
    color: #1F3C65;
}

a:active {
    color: #1F3C65;
}

/* Layout styling */
.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
    /* 25px top and bottom, 0 left and right */
}

header {
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    box-shadow: 0px 15px 25px -10px rgba(204, 204, 204, 45%);
}

#intro {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
    line-height: 1.5;
    margin: 0;
}

.logo {
    max-width: 250px;
    margin: 15px 0;
}

nav {
    display: inline-block;
    width: 100%
}

nav>ul {
    list-style-type: none;
    padding: 0;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #BE8190;
    font-weight: 500;
    letter-spacing: 0.05em;
    padding: 0 5px;
    margin: 0 5px;
    text-transform: uppercase;
    border-bottom: 3px solid #eaeaea;
}

#hero h1 {
    text-align: center;
    font-family: 'Caveat', cursive;
    color: #1F3C65;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.025em;
    margin: 20px 0;
}

#hero {
    background-color: #FFFFFF;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.button {
    display: inline-block;
    background: rgb(240, 190, 148);
    background: linear-gradient(162deg, rgba(240, 190, 148, 1) 0%, rgba(190, 129, 144, 1) 76%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    transition: 0.2s;
    box-shadow: 0px 15px 25px -10px rgba(190, 129, 144, 0.71);
    margin: 20px 0;
}

.fa-solid.fa-arrow-right.fa-lg {
    margin-left: 10px;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

.button.contact {
    background: transparent;
    color: white;
    padding-left: 20px;
    border: 2px solid rgb(255, 255, 255, 55%);
}

.fa-regular.fa-paper-plane.fa-lg {
    margin-right: 10px;
    color: rgb(255, 255, 255, 75%)
}

.button.contact:hover {
    background-color: rgb(255, 255, 255, 20%);
    color: white;
    border: 2px solid #ffffff
}

main {
    padding-top: 161.4px;
    padding-bottom: 50px;
}

footer {
    background: rgb(240, 190, 148);
    background: linear-gradient(162deg, rgba(240, 190, 148, 1) 0%, rgba(190, 129, 144, 1) 76%);
    padding: 15px 10px;
}

#contact h3 {
    color: #ffffff;
    padding-top: 40px;
    margin: 0;
}

.footer.icon {
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
}

.footer.icon a {
    padding: 0 10px;
    color: rgb(255, 255, 255, 35%);
}

.footer.icon a:hover {
    color: rgb(255, 255, 255, 100%);
}

#copyright {
    color: rgb(255, 255, 255, 55%);
    font-size: 12px;
    padding: 5px 0;
    text-align: right;
}
